In [1]:
import rpy2

In [2]:
import rpy2.robjects as robjects
from rpy2.robjects import pandas2ri
readRDS = robjects.r['readRDS']

In [117]:
#Load dataset
df = readRDS('/rds/general/user/md2620/home/ML_project/df_finished.rds')
df = pandas2ri.rpy2py_dataframe(df)

In [118]:
#Check shape of dataset
df.shape

(10670, 121)

In [119]:
#Check first five rows of dataframe
df.head(5)

,SEQN,LBDSALSI,LBXSATSI,LBXSASSI,LBXSAPSI,LBDSBUSI,LBDSCASI,LBDSCHSI,LBXSC3SI,LBDSCRSI,...,SMQ020,SMD100BR,SMD410,SMQ680,WHD010,WHD020,WHD050,WHD140,casecont,penta_id
1,51624.00,48.00,24.00,23.00,41.00,2.14,2.35,3.44,26.00,83.10,...,Yes,,No,No,66.00,200.00,180.00,200.00,0,537.00
2,51628.00,39.00,15.00,21.00,97.00,3.57,2.38,5.04,25.00,98.12,...,Yes,NEWPORT,Yes,Yes,66.00,240.00,225.00,250.00,0,445.00
3,51630.00,43.00,18.00,21.00,74.00,4.64,2.50,6.75,25.00,69.84,...,Yes,MARLBORO ULTRA LIGHT,No,Yes,67.00,190.00,197.00,197.00,0,1059.00
4,51633.00,43.00,22.00,25.00,60.00,5.71,2.38,4.71,24.00,73.37,...,Yes,,No,No,72.00,175.00,240.00,250.00,0,1.00
5,51635.00,43.00,13.00,18.00,94.00,5.71,2.45,3.72,23.00,79.56,...,Yes,,No,No,73.00,190.00,180.00,215.00,0,53.00

In [120]:
#Set SEQN as index for df
df = df.set_index(['SEQN'])

In [121]:
#Check to what classes your variables belong
df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 10670 entries, 51624.0 to 102085.0
Columns: 120 entries, LBDSALSI to penta_id
dtypes: category(2), float64(49), object(69)
memory usage: 9.7+ MB

In [122]:
df.head(5)

,LBDSALSI,LBXSATSI,LBXSASSI,LBXSAPSI,LBDSBUSI,LBDSCASI,LBDSCHSI,LBXSC3SI,LBDSCRSI,LBXSGTSI,...,SMQ020,SMD100BR,SMD410,SMQ680,WHD010,WHD020,WHD050,WHD140,casecont,penta_id
SEQN,,,,,,,,,,,,,,,,,,,,,
51624.00,48.00,24.00,23.00,41.00,2.14,2.35,3.44,26.00,83.10,16.00,...,Yes,,No,No,66.00,200.00,180.00,200.00,0,537.00
51628.00,39.00,15.00,21.00,97.00,3.57,2.38,5.04,25.00,98.12,22.00,...,Yes,NEWPORT,Yes,Yes,66.00,240.00,225.00,250.00,0,445.00
51630.00,43.00,18.00,21.00,74.00,4.64,2.50,6.75,25.00,69.84,20.00,...,Yes,MARLBORO ULTRA LIGHT,No,Yes,67.00,190.00,197.00,197.00,0,1059.00
51633.00,43.00,22.00,25.00,60.00,5.71,2.38,4.71,24.00,73.37,11.00,...,Yes,,No,No,72.00,175.00,240.00,250.00,0,1.00
51635.00,43.00,13.00,18.00,94.00,5.71,2.45,3.72,23.00,79.56,15.00,...,Yes,,No,No,73.00,190.00,180.00,215.00,0,53.00

In [123]:
#Create target variable
target = df['casecont']
#Drop casecont once target is created
df.drop('casecont', axis = 1, inplace = True)

In [124]:
#Check df new shape
df.shape

(10670, 119)

In [125]:
target

SEQN
51624.00     0
51628.00     0
51630.00     0
51633.00     0
51635.00     0
            ..
95003.00     1
96102.00     1
98201.00     1
102036.00    1
102085.00    1
Name: casecont, Length: 10670, dtype: category
Categories (2, object): [0, 1]

In [126]:
#Remove variables that are not potential predictors of asthma attacks
#Specifically, remove age,gender,penta_id, some weights-related variables that are duplicates - WH (were useful for descriptive stats), ethnicity
df.drop(['penta_id','RIAGENDR','RIDAGEYR','RIDRETH1','WHD050','WHD020','WHD010'], axis =1, inplace = True)

In [127]:
#Check first five rows after drop of unrelevant variables
df.head(5)

,LBDSALSI,LBXSATSI,LBXSASSI,LBXSAPSI,LBDSBUSI,LBDSCASI,LBDSCHSI,LBXSC3SI,LBDSCRSI,LBXSGTSI,...,PAQ665,PAD680,SLD010H,SLQ050,SLQ060,SMQ020,SMD100BR,SMD410,SMQ680,WHD140
SEQN,,,,,,,,,,,,,,,,,,,,,
51624.00,48.00,24.00,23.00,41.00,2.14,2.35,3.44,26.00,83.10,16.00,...,No,480.00,4.00,Yes,No,Yes,,No,No,200.00
51628.00,39.00,15.00,21.00,97.00,3.57,2.38,5.04,25.00,98.12,22.00,...,No,240.00,4.00,No,No,Yes,NEWPORT,Yes,Yes,250.00
51630.00,43.00,18.00,21.00,74.00,4.64,2.50,6.75,25.00,69.84,20.00,...,No,240.00,8.00,Yes,Yes,Yes,MARLBORO ULTRA LIGHT,No,Yes,197.00
51633.00,43.00,22.00,25.00,60.00,5.71,2.38,4.71,24.00,73.37,11.00,...,Yes,60.00,6.00,No,No,Yes,,No,No,250.00
51635.00,43.00,13.00,18.00,94.00,5.71,2.45,3.72,23.00,79.56,15.00,...,No,540.00,9.00,No,No,Yes,,No,No,215.00

SPLIT THE DATASET

In [128]:
#Split the dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df, target, test_size=0.25, random_state=12)

In [132]:
#Print shape of X_train & X_test
print(X_train.shape)
print(X_test.shape)

(8002, 112)
(2668, 112)

In [133]:
#Print y_train to see what it looks like
y_train.shape

(8002,)

In [134]:
y_train.head(5)

SEQN
58640.00    0
71717.00    0
80552.00    1
55159.00    0
54023.00    0
Name: casecont, dtype: category
Categories (2, object): [0, 1]

In [88]:
#Check that it has successfully been implemented
X_train.head(3)

,LBDSALSI,LBXSATSI,LBXSASSI,LBXSAPSI,LBDSBUSI,LBDSCASI,LBDSCHSI,LBXSC3SI,LBDSCRSI,LBXSGTSI,...,PAQ665,PAD680,SLD010H,SLQ050,SLQ060,SMQ020,SMD100BR,SMD410,SMQ680,WHD140
SEQN,,,,,,,,,,,,,,,,,,,,,
58640.00,45.00,19.00,25.00,59.00,5.00,2.38,4.81,24.00,83.10,16.00,...,No,180.00,8.00,No,No,Yes,,No,No,268.00
71717.00,41.00,17.00,18.00,58.00,3.21,2.35,4.76,28.00,57.46,40.00,...,No,720.00,8.00,No,No,Yes,NEWPORT,Yes,Yes,240.00
80552.00,43.00,11.00,18.00,36.00,5.36,2.33,4.89,25.00,78.68,14.00,...,Yes,180.00,8.00,No,No,No,,None,None,175.00

In [89]:
#Check that it has successfully been implemented
X_test.head(3)

,LBDSALSI,LBXSATSI,LBXSASSI,LBXSAPSI,LBDSBUSI,LBDSCASI,LBDSCHSI,LBXSC3SI,LBDSCRSI,LBXSGTSI,...,PAQ665,PAD680,SLD010H,SLQ050,SLQ060,SMQ020,SMD100BR,SMD410,SMQ680,WHD140
SEQN,,,,,,,,,,,,,,,,,,,,,
52184.00,43.00,17.00,16.00,63.00,6.43,2.42,6.21,24.00,87.52,22.00,...,No,480.00,5.00,No,Yes,Yes,,No,No,240.00
51940.00,46.00,28.00,21.00,46.00,5.00,2.30,5.97,26.00,83.98,32.00,...,No,360.00,8.00,No,No,No,,No,No,230.00
64135.00,42.00,14.00,24.00,30.00,5.36,2.40,3.57,24.00,80.44,11.00,...,No,480.00,5.00,No,No,No,,No,No,132.00

In [90]:
#Check to what classes your variables belong
print(X_train.info())
print(X_test.info())

<class 'pandas.core.frame.DataFrame'>
Float64Index: 8002 entries, 58640.0 to 58997.0
Columns: 112 entries, LBDSALSI to WHD140
dtypes: float64(45), object(67)
memory usage: 6.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
Float64Index: 2668 entries, 52184.0 to 54812.0
Columns: 112 entries, LBDSALSI to WHD140
dtypes: float64(45), object(67)
memory usage: 2.3+ MB
None

SPLIT X_TRAIN AND X_TEST INTO NUMERICAL AND CATEGORICAL DATAFRAMES

In [91]:
#Split X_train into two dataframes - one with only numerical variables and the other one with only categorical variables.
X_train_numerical = X_train.select_dtypes(include='float64')
X_train_categorical = X_train.select_dtypes(include='object')
X_test_numerical = X_test.select_dtypes(include='float64')
X_test_categorical = X_test.select_dtypes(include='object')

In [92]:
#Print columns of X_train_numerical, X_train_categorical, X_test_numerical & X_test_categorical to check if split was successful
print(X_train_numerical.columns)
print(X_train_categorical.columns)
print(X_test_numerical.columns)
print(X_test_categorical.columns)

Index(['LBDSALSI', 'LBXSATSI', 'LBXSASSI', 'LBXSAPSI', 'LBDSBUSI', 'LBDSCASI',
       'LBDSCHSI', 'LBXSC3SI', 'LBDSCRSI', 'LBXSGTSI', 'LBDSGLSI', 'LBDSIRSI',
       'LBXSLDSI', 'LBDSPHSI', 'LBDSTBSI', 'LBDSTPSI', 'LBDSTRSI', 'LBDSUASI',
       'LBXSNASI', 'LBXSKSI', 'LBXSCLSI', 'LBXSOSSI', 'LBDSGBSI', 'BMXWT',
       'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC', 'BMXWAIST', 'BMXTRI',
       'PEASCTM1', 'BPXPLS', 'BPXML1', 'BPXSY1', 'BPXDI1', 'DBQ197', 'DBD895',
       'HSQ470', 'HSQ480', 'HSQ493', 'HSQ496', 'PAD680', 'SLD010H', 'WHD140'],
      dtype='object')
Index(['BMDSTATS', 'PEASCST1', 'BPQ150A', 'BPQ150B', 'BPQ150C', 'BPQ150D',
       'BPACSZ', 'BPXPULS', 'DBQ700', 'DBQ229', 'DBQ915', 'DBQ920', 'DMDCITZN',
       'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'INDHHIN2', 'DIQ010', 'DIQ160',
       'DIQ180', 'DIQ050', 'IMQ011', 'IMQ020', 'HSD010', 'HSQ500', 'HSQ510',
       'HSQ520', 'HSQ571', 'HSQ590', 'MCQ010', 'MCQ053', 'MCQ070', 'MCQ080',
       'MCQ082', 'MCQ086', 'MCQ092', 'MCQ140', 'MCQ160A', 'MCQ160N', 'MCQ160B',
       'MCQ160C', 'MCQ160D', 'MCQ160E', 'MCQ160F', 'MCQ160G', 'MCQ160M',
       'MCQ160K', 'MCQ160L', 'MCQ220', 'MCQ300A', 'MCQ300B', 'MCQ300C',
       'OCD150', 'OCD390G', 'PUQ100', 'PUQ110', 'PAQ605', 'PAQ620', 'PAQ635',
       'PAQ650', 'PAQ665', 'SLQ050', 'SLQ060', 'SMQ020', 'SMD100BR', 'SMD410',
       'SMQ680'],
      dtype='object')
Index(['LBDSALSI', 'LBXSATSI', 'LBXSASSI', 'LBXSAPSI', 'LBDSBUSI', 'LBDSCASI',
       'LBDSCHSI', 'LBXSC3SI', 'LBDSCRSI', 'LBXSGTSI', 'LBDSGLSI', 'LBDSIRSI',
       'LBXSLDSI', 'LBDSPHSI', 'LBDSTBSI', 'LBDSTPSI', 'LBDSTRSI', 'LBDSUASI',
       'LBXSNASI', 'LBXSKSI', 'LBXSCLSI', 'LBXSOSSI', 'LBDSGBSI', 'BMXWT',
       'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC', 'BMXWAIST', 'BMXTRI',
       'PEASCTM1', 'BPXPLS', 'BPXML1', 'BPXSY1', 'BPXDI1', 'DBQ197', 'DBD895',
       'HSQ470', 'HSQ480', 'HSQ493', 'HSQ496', 'PAD680', 'SLD010H', 'WHD140'],
      dtype='object')
Index(['BMDSTATS', 'PEASCST1', 'BPQ150A', 'BPQ150B', 'BPQ150C', 'BPQ150D',
       'BPACSZ', 'BPXPULS', 'DBQ700', 'DBQ229', 'DBQ915', 'DBQ920', 'DMDCITZN',
       'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'INDHHIN2', 'DIQ010', 'DIQ160',
       'DIQ180', 'DIQ050', 'IMQ011', 'IMQ020', 'HSD010', 'HSQ500', 'HSQ510',
       'HSQ520', 'HSQ571', 'HSQ590', 'MCQ010', 'MCQ053', 'MCQ070', 'MCQ080',
       'MCQ082', 'MCQ086', 'MCQ092', 'MCQ140', 'MCQ160A', 'MCQ160N', 'MCQ160B',
       'MCQ160C', 'MCQ160D', 'MCQ160E', 'MCQ160F', 'MCQ160G', 'MCQ160M',
       'MCQ160K', 'MCQ160L', 'MCQ220', 'MCQ300A', 'MCQ300B', 'MCQ300C',
       'OCD150', 'OCD390G', 'PUQ100', 'PUQ110', 'PAQ605', 'PAQ620', 'PAQ635',
       'PAQ650', 'PAQ665', 'SLQ050', 'SLQ060', 'SMQ020', 'SMD100BR', 'SMD410',
       'SMQ680'],
      dtype='object')

In [93]:
#Look for NAs in each of the 4th dataframes before imputation
print(X_train_numerical.isnull().sum().sum())
print(X_train_categorical.isnull().sum().sum())
print(X_test_numerical.isnull().sum().sum())
print(X_test_categorical.isnull().sum().sum())

111821
159757
39212
55391

In [94]:
#For numerical columns in X_train & X_test replace by mean of each column all NAs in that column
X_train_numerical.fillna(X_train_numerical.mean(), inplace=True)
X_test_numerical.fillna(X_test_numerical.mean(), inplace=True)

In [95]:
#Check that you have no NAs in your numerical dataframes anymore
print(X_train_numerical.isnull().sum().sum())
print(X_test_numerical.isnull().sum().sum())

0
0

In [96]:
import numpy as np
import pandas as pd

In [97]:
#Constant impute for categorical variables
from sklearn.impute import SimpleImputer
# Creating an imputer object that looks for 'Nan' values, then replaces them with missing_value for categorical variables
miss_constant_imputer = SimpleImputer(missing_values=None, strategy='most_frequent', copy=False)
X_train_categorical = pd.DataFrame(miss_constant_imputer.fit_transform(X_train_categorical),index = X_train_categorical.index.values, columns=X_train_categorical.columns)

In [98]:
#Constant impute for categorical variables
from sklearn.impute import SimpleImputer
# Creating an imputer object that looks for 'Nan' values, then replaces them with missing_value for categorical variables
miss_constant_imputer = SimpleImputer(missing_values=None, strategy='most_frequent', copy=False)
X_test_categorical = pd.DataFrame(miss_constant_imputer.fit_transform(X_test_categorical),index = X_test_categorical.index.values, columns=X_test_categorical.columns)

In [99]:
#Check number of NAs in X_train_categorical & X_test_categorical after imputation
print(X_train_categorical.isnull().sum().sum())
print(X_test_categorical.isnull().sum().sum())

0
0

NORMALIZE THE NUMERICAL VARIABLES

In [100]:
from sklearn.preprocessing import StandardScaler

In [101]:
#Normalize X_train_numerical
sc = StandardScaler()
sc.fit(X_train_numerical)
X_train_numerical = pd.DataFrame(sc.transform(X_train_numerical), index = X_train_numerical.index, columns = X_train_numerical.columns)

In [102]:
#Make sure it is a standardized dataframe
X_train_numerical.head(5)

,LBDSALSI,LBXSATSI,LBXSASSI,LBXSAPSI,LBDSBUSI,LBDSCASI,LBDSCHSI,LBXSC3SI,LBDSCRSI,LBXSGTSI,...,BPXDI1,DBQ197,DBD895,HSQ470,HSQ480,HSQ493,HSQ496,PAD680,SLD010H,WHD140
SEQN,,,,,,,,,,,,,,,,,,,,,
58640.00,0.97,-0.31,0.03,-0.55,0.34,0.18,-0.02,-0.69,0.27,-0.35,...,-0.25,-0.20,-0.53,-0.37,-0.80,-0.12,-0.93,-1.14,1.08,1.72
71717.00,-0.46,-0.48,-0.71,-0.57,-0.80,-0.16,-0.08,1.60,-0.54,0.60,...,0.21,0.77,0.42,-0.71,-0.80,-0.63,-0.93,2.04,1.08,1.07
80552.00,0.25,-0.99,-0.71,-1.02,0.57,-0.50,0.07,-0.12,0.13,-0.43,...,-0.25,-1.16,-0.21,0.00,0.00,-0.00,0.00,-1.14,1.08,-0.44
55159.00,-0.00,0.00,0.00,0.00,-0.00,0.00,-0.00,0.00,0.00,0.00,...,0.00,0.77,-0.53,0.00,0.00,-0.00,0.00,0.00,0.00,0.00
54023.00,0.61,0.29,1.29,-0.25,-0.12,0.86,-1.39,1.03,0.13,-0.58,...,0.66,0.77,-0.21,-0.71,-0.80,-0.63,3.51,-0.08,1.08,0.00

In [103]:
#Apply scaler to test set
X_test_numerical = pd.DataFrame(sc.transform(X_test_numerical), index = X_test_numerical.index, columns = X_test_numerical.columns)

In [104]:
#Make sure it is a standardized dataframe too
X_test_numerical.head(5)

,LBDSALSI,LBXSATSI,LBXSASSI,LBXSAPSI,LBDSBUSI,LBDSCASI,LBDSCHSI,LBXSC3SI,LBDSCRSI,LBXSGTSI,...,BPXDI1,DBQ197,DBD895,HSQ470,HSQ480,HSQ493,HSQ496,PAD680,SLD010H,WHD140
SEQN,,,,,,,,,,,,,,,,,,,,,
52184.00,0.25,-0.48,-0.92,-0.46,1.26,0.86,1.59,-0.69,0.41,-0.11,...,0.66,-0.20,-0.84,-0.71,0.32,-0.63,3.51,0.62,-1.68,1.07
51940.00,1.33,0.46,-0.39,-0.82,0.34,-0.84,1.32,0.45,0.30,0.28,...,0.81,-0.20,-0.21,-0.54,-0.80,-0.46,-0.78,-0.08,1.08,0.84
64135.00,-0.10,-0.74,-0.08,-1.15,0.57,0.52,-1.45,-0.69,0.19,-0.54,...,0.21,-0.20,0.42,-0.71,-0.48,-0.63,-0.63,0.62,-1.68,-1.43
61327.00,-2.25,0.03,0.34,-0.82,-1.25,1.20,-0.92,1.60,-0.96,1.11,...,1.11,-0.20,0.10,2.00,2.10,0.57,2.62,0.27,2.00,-0.32
51822.00,-1.89,0.63,-0.29,-0.46,0.34,-0.84,0.10,-1.83,-0.15,0.60,...,-0.70,0.77,0.10,-0.71,-0.80,-0.63,-0.93,-1.49,1.08,1.88

In [105]:
#Print the shapes of the 4 dataframes
print(X_train_numerical.shape)
print(X_test_numerical.shape)
print(X_train_categorical.shape)
print(X_test_categorical.shape)

(8002, 45)
(2668, 45)
(8002, 67)
(2668, 67)

RECONCILE CATEGORICAL AND NUMERICAL DATAFRAMES

In [106]:
#Now that imputation has been successfully made for both numerical and categorical variables, 
#Merge back X_train_categorical and X_train_numerical and rename it to X_train. 
X_train = pd.concat([X_train_numerical, X_train_categorical], axis=1)

In [108]:
#Now that imputation has been successfully made for both numerical and categorical variables, 
#Merge back X_test_categorical and X_test_numerical and rename it to X_test. 
X_test = pd.concat([X_test_numerical, X_test_categorical], axis=1)

In [109]:
#Make sure you have null values in both datasets after concatenate
print(X_train.isnull().sum().sum())
print(X_test.isnull().sum().sum())

0
0

In [110]:
#Make sure that X_train and X_test have same number of columns
print(X_train.shape)
print(X_test.shape)

(8002, 112)
(2668, 112)

In [111]:
#Look at first five rows of X_train
X_train.head(5)

,LBDSALSI,LBXSATSI,LBXSASSI,LBXSAPSI,LBDSBUSI,LBDSCASI,LBDSCHSI,LBXSC3SI,LBDSCRSI,LBXSGTSI,...,PAQ620,PAQ635,PAQ650,PAQ665,SLQ050,SLQ060,SMQ020,SMD100BR,SMD410,SMQ680
58640.00,0.97,-0.31,0.03,-0.55,0.34,0.18,-0.02,-0.69,0.27,-0.35,...,Yes,No,No,No,No,No,Yes,,No,No
71717.00,-0.46,-0.48,-0.71,-0.57,-0.80,-0.16,-0.08,1.60,-0.54,0.60,...,No,No,No,No,No,No,Yes,NEWPORT,Yes,Yes
80552.00,0.25,-0.99,-0.71,-1.02,0.57,-0.50,0.07,-0.12,0.13,-0.43,...,No,No,No,Yes,No,No,No,,No,No
55159.00,-0.00,0.00,0.00,0.00,-0.00,0.00,-0.00,0.00,0.00,0.00,...,No,No,No,No,No,No,No,,No,No
54023.00,0.61,0.29,1.29,-0.25,-0.12,0.86,-1.39,1.03,0.13,-0.58,...,No,No,Yes,Yes,No,No,No,,No,No

In [112]:
#Look at first five rows of X_test
X_test.head(5)

,LBDSALSI,LBXSATSI,LBXSASSI,LBXSAPSI,LBDSBUSI,LBDSCASI,LBDSCHSI,LBXSC3SI,LBDSCRSI,LBXSGTSI,...,PAQ620,PAQ635,PAQ650,PAQ665,SLQ050,SLQ060,SMQ020,SMD100BR,SMD410,SMQ680
52184.00,0.25,-0.48,-0.92,-0.46,1.26,0.86,1.59,-0.69,0.41,-0.11,...,Yes,No,No,No,No,Yes,Yes,,No,No
51940.00,1.33,0.46,-0.39,-0.82,0.34,-0.84,1.32,0.45,0.30,0.28,...,No,No,No,No,No,No,No,,No,No
64135.00,-0.10,-0.74,-0.08,-1.15,0.57,0.52,-1.45,-0.69,0.19,-0.54,...,No,No,Yes,No,No,No,No,,No,No
61327.00,-2.25,0.03,0.34,-0.82,-1.25,1.20,-0.92,1.60,-0.96,1.11,...,Yes,No,No,No,Yes,No,No,,No,No
51822.00,-1.89,0.63,-0.29,-0.46,0.34,-0.84,0.10,-1.83,-0.15,0.60,...,No,No,No,Yes,No,No,Yes,NATURAL AMERICAN SPIRIT,Yes,Yes

In [113]:
#Save training set 
X_train.to_csv('X_train.csv', index=True)

In [114]:
#Save test set 
X_test.to_csv('X_test.csv', index=True)

In [115]:
#Save y_train
y_train.to_csv('y_train.csv',index=True)

In [116]:
#Save y_test
y_test.to_csv('y_test.csv',index=True)

IMPLEMENT LAZY PREDICT CLASSIFIER

In [ ]:
!pip install lazypredict --user

In [19]:
import lazypredict

In [20]:
#Load libraries
from lazypredict.Supervised import LazyClassifier,LazyRegressor

/rds/general/user/md2620/home/.local/lib/python3.6/site-packages/sklearn/utils/deprecation.py:143: FutureWarning: The sklearn.utils.testing module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.utils. Anything that cannot be imported from sklearn.utils is now part of the private API.
  warnings.warn(message, FutureWarning)

In [28]:
# fit all models
clf = LazyClassifier(predictions=True)
models2, predictions = clf.fit(X_train, X_test, y_train, y_test)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 29/29 [00:04<00:00,  5.89it/s]

In [30]:
print(models2)

Empty DataFrame
Columns: [Accuracy, Balanced Accuracy, ROC AUC, F1 Score, Time Taken]
Index: []

In [33]:
X=df
y=target
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=.3,random_state =1)
clf = LazyClassifier(verbose=0,ignore_warnings=True, custom_metric=None)
models,predictions = clf.fit(X_train, X_test, y_train, y_test)
models

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 29/29 [00:04<00:00,  6.44it/s]

Empty DataFrame
Columns: [Accuracy, Balanced Accuracy, ROC AUC, F1 Score, Time Taken]
Index: []

In [32]:
target.value_counts()

0    8536
1    2134
Name: casecont, dtype: int64